<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.cg_p_ssx.mapper.CgPSsxMapper">
    
    <resultMap type="CgPSsx" id="CgPSsxResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectCgPSsxVo">
        select id, name, create_time from cg_p_ssx
    </sql>

    <select id="selectCgPSsxList" parameterType="CgPSsx" resultMap="CgPSsxResult">
        <include refid="selectCgPSsxVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
        </where>
    </select>
    
    <select id="selectCgPSsxById" parameterType="Long" resultMap="CgPSsxResult">
        <include refid="selectCgPSsxVo"/>
        where id = #{id}
    </select>

    <insert id="insertCgPSsx" parameterType="CgPSsx" useGeneratedKeys="true" keyProperty="id">
        insert into cg_p_ssx
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateCgPSsx" parameterType="CgPSsx">
        update cg_p_ssx
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCgPSsxById" parameterType="Long">
        delete from cg_p_ssx where id = #{id}
    </delete>

    <delete id="deleteCgPSsxByIds" parameterType="String">
        delete from cg_p_ssx where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>